* {
    margin:             0;
    padding:            0;
}
body.backend {
    background:         #292929 url(../images/ego_wall_smalldots.png) fixed center top;
}
body {
    margin:             0;
    font-family:        verdana, arial, sans-serif;
    font-size:          9pt;
}

img { border: none; }

.merci-ie {
    clear:              both;
}

a:link, a:visited, a:hover {
    color:              #FF6A00;
}

a:hover {
    text-decoration:    none;
}

#page {
    background:         transparent none;
    width:              1002px;
    height:             100%;
    bottom:             0;
    margin:             0 auto;
}
#wrapper {
    position:           absolute;
    height:             100%;
    top:                0;
    left:               0;
    width:              100%;
}

#header {
    background:         #000;
    position:           fixed;
    top:                0;
    width:              100%;
    -moz-box-shadow:        0px 0px 18px #000;
    -webkit-box-shadow:     0px 0px 18px #000;
    z-index:            1000;
}
#mainMenu #topLinks {
    float:              right;
    width:              auto;
}

#topLinks li {
    float:              left;
    padding:            0 10px;
    font-size:          8pt;
}

#header .content {
    margin:             0 auto;
    width:              1000px;
}

#header h1 {
    background:         transparent url(../images/logo.jpg) no-repeat left top;
    float:              left;
    height:             42px;
    width:              144px;
}
#header h1 a {
    display:            inline-block;
    height:             42px;
    text-indent:        -10000px;
    width:              144px;
}

#main {
    background:         #fff;
    margin:             0 auto;
    padding:            0 20px;
    min-height:         500px;
    height:             100%;
/*    -moz-box-shadow:    0px 0px 18px #000;*/
    -webkit-box-shadow:    0px 0px 18px #000;
    -moz-border-radius: 8px 8px 0 0;
}

#container {
    margin-top:         60px;
    padding-top:        10px;
}

.merci-ie {
    clear:              both;
}

#mainMenu {
    background:         #000;
    height:             36px;
    text-shadow:        0 1px 0 #666;
    z-index:            1000;
}
#mainMenu ul {
    margin:             0 auto;
    float:              left;
}
#mainMenu li {
    float:              left;
    font-size:          9pt;
    list-style-type:    none;
    height:             22px;
}

#mainMenu li.active {
    font-weight:        bold;
}
#mainMenu li a {
    color:              #fff;
    display:            block;
    padding:            10px 20px;
}
#mainMenu #topLinks li a {
    padding:            10px 6px;
}
#mainMenu li a:link, #mainMenu li a:visited {
    text-decoration:    none;
}
#mainMenu li a:hover {
    background:         #212121;
    text-decoration:    underline;
}

.backend #mainMenu li.active {
    background:         url(../images/bg-flecheMenuActive-bleu.png) no-repeat 50% bottom;
    font-weight:        bold;
}

.backend #content {
    color:              #333;
    float:              left;
    width:              775px;
    float:              right;
}
#content h1 {
    font-size:          14pt;
    margin:             15px 0;
}
#content h2 {
    margin:             10px 0;
}
#content h1, #content h2 {
    color:              #FF6A00;
}

.backend #sidebar {
    float:              left;
    padding:            20px 15px;
    width:              157px;
}

.backend #sidebar ul {
    margin-left:        10px;
}

.backend #sidebar li a.active {
    font-weight:        bold;
}

.backend #sidebar li {
    list-style:         none;
    margin-bottom:      5px;
}

.backend #sidebar h4 {
    color:              #555;
    margin-bottom:      10px;
}

.listPage {
    padding:            0 0 20px 0;
}
table.list {
    width:              100%;
    border-collapse:    collapse;
}

.list th {
    text-align:         left;
    padding:            5px;
}
.list tbody tr:hover td {
    background:         #eee;
}
.list td {
    border:             1px solid #ddd;
    height:             26px;
    padding:            5px;
}

.listAction {
    width:              120px;
}
.list td.cellSelectToDelete {
    width:              15px;
}

.homeList {    
    width:              98%;
}
.homeList .list {
    background:         #eee;
    margin-bottom:      25px;
}
.homeList .list td {
    border:             none
}
.homeList .list tbody tr:hover td {
    background:         #ddd;
}
.homeList .listAction {
    width:              60px;
}
/* sortable lists */
#content .connectedSortable {
    background-color:   #ddd;
    list-style-type:    none;
    margin:             0;
    height:             100%;
    min-height:         100px;
    padding:            8px 8px 200px 8px;
    width:              335px;
    -moz-border-radius: 8px;
}


.connectedSortable li {
    background-color:   #ededed;
    color:              #404040;
    cursor:             move;
    margin-bottom:      5px;
    list-style-type:    none;
    padding:            5px;
    margin-left:        2px;
    overflow:           hidden;
}

.connectedSortable.gallery li {
    display:            inline-block;
    padding:            0;
}

.connectedSortable img.thumb {
    height:              40px;
}
.connectedSortable.grid {
    padding-bottom:     8px;
    width:              100%;
}
.connectedSortable.grid li {
    float:              left;
    width:              85px;
}

#content #unassociatedList {
    overflow-y:         auto;
/*    width:              220px;*/
    margin-right:        15px;
}
#content #unassociatedList li {
    border:             1px solid #bbb;
}
#content #unassociatedList.grid {
    width:              100%;
}
#content #unassociatedList.grid li {
    margin-left:        5px;
}

#content #associatedList {
/*    width:              445px;*/
    margin-right:		10px;
    
}
#content #associatedList li {
    border:             1px solid #bbb;   
}

.editForm {
    background:         #eee;
    color:              #333;
    margin:             0 auto;
    padding:            20px;
    -moz-border-radius: 10px;
}

.formRow {
    margin-bottom:      15px;
}

.mceEditor {
    margin-top:         10px;
}

.formRow label.inline {
    display:            inline-block;
    width:              150px;
    vertical-align:     top;
}

.formRow input[type="text"] {
    background-color:   #fff;
    border:             1px solid #BBBBBB;
    padding:            2px;
    width:              375px;
}
.formRow input[type="text"].error {
    border:             1px solid red;
}
.formActions {
    margin-top:         30px;
    text-align:         right;
}

.col {
    float:              left;
}
.col:last-child {

}

.thinCol {
    margin-right:       20px;
}

#content .col h3 {
    padding:            0;
    margin-bottom:      15px;
}

.twoCols {
    margin-top:         30px;
}

.threeCols .col #associatedList, .threeCols .col #unassociatedList {
    width:              230px;
}

.threeCols .col {
    margin-right:       15px;
}

.threeCols .col:last-child {
    margin-right:       0;
}

.threeCols .tree {
    width:              210px;
}

.tree a {
    color:              #7c7c7c;
}

#content .tree ul {
    background:         #fff;
    padding:            10px 0 10px 27px;
}
#content .tree li ul {
    padding:            0 0 0 15px;
}
.tree li, .tree li ul {
    margin:             7px 0;
}

.tree li.active {
    font-weight:        bold;
}

.listActions {
    padding:            30px 0;
    text-align:         right;
}

button {
    background-color:   #FF6A00;
    font-size:          14px;
    border:             none;
    color:              #fff;
    cursor:             pointer;
    padding:            10px;
    -moz-border-radius: 6px;
    -moz-box-shadow:    1px 1px 3px #999;
    -webkit-border-radius:            6px;
}

#loginForm {
    margin:             0 auto;
    width:              500px;
}

#loginForm label {
    display:            inline-block;
    width:              180px;
}

#loginForm .formRow input[type="text"] {
    width:              auto;
}

.formRow input.date {
/*    background:         #fff url(../images/calendrier2.png) no-repeat right 50%;
    border:             1px solid #BBBBBB;
    padding:            2px 20px 2px 2px;*/
    width:              80px;
}

.formRow .labelDate {
    background:         transparent url(../images/calendrier2.png) no-repeat right 50%;
    cursor:             pointer;
    display:            inline-block;
    height:             16px;
    margin-left:        3px;
    text-indent:        -10000px;
    width:              16px;
}

.formRow textarea {
    width:              577px;
}

fieldSet {
    -moz-border-radius: 8px;
    border:             1px solid #999;
    padding:            10px;
    margin-bottom:      15px;
}

legend {
    padding:            0 8px;
}

.formTab {
    display:            none;
}

.formTab.active {
    display:            block;
}

.chooseTab a {
    -moz-border-radius: 8px 8px 0 0;
    background:         none repeat scroll 0 0 #f9f9f9;
    display:            inline-block;
    padding:            8px;
}

.chooseTab a.active {
    background-color:   #eee;
}

.tagsAssociation fieldset {
    float:              left;
    width:              40%;
}

.tagsAssociation fieldset:first-child {
    margin-right:        25px;
}

.tagText {
    padding:            4px 0;
    cursor:             pointer;
    color:              #0399CD;
}

.tagText:hover {
    text-decoration:    underline;
}

button.reject {
    background-color:   red;
}

label.error {
    display:            inline-block;
}

select.multiple {
    width:              260px;
}

#logosList {
    margin-left:        20px;
    min-height:         115px;
}

#logosList li {
    display:            inline;
}

#logosList li img {
    max-width:          100px;
}
.help {
    font-size:          8pt;
    margin:             15px 0;
}

.associateButtons {
    padding-top:        40px;
    width:              20px;
    float:              left;
}
.CitrusPager {
    text-align:         right;
}
.CitrusPager a img {
    margin-bottom:      -4px;
}

.CitrusPager a {
    color:              #999;
}

.linkDelete, .linkEdit {
    font-size:          8pt;
    padding:            2px 0 2px 20px;
}

.linkDelete {
    background:         transparent url(../images/page_white_delete.png) no-repeat left 50%;
}

.linkEdit {
    background:         transparent url(../images/page_white_edit.png) no-repeat left 50%;
}

.countCell {
    text-align:         center;
    padding:            10px 0;
}

.countCell a {
}

.dashboard {
    float:              right;
    margin:             53px 0 0 10px;
    width:              175px;
}

.dashboard .countCell {
    background:         #eee;
    float:              right;
}

.dashboard h3, .homeList h3 {
    background:         #ccc;
    color:              #555;
    font-size:          9pt;
    padding:            4px;
    text-shadow:        0 1px 0 #fff;
    -moz-border-radius:    6px 6px 0 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

#cropMedia {
    display:            none;
}

.jcrop-holder {
    margin:             0 auto;
}